@tailwind base;
@tailwind components;
@tailwind utilities;

#card {
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

body {
  background: linear-gradient(270deg, #071b52 0, teal);
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}
